/* Variables
/* ---------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,500,500i|Lora:400,400i|Crimson+Pro:500,500i|Roboto+Mono&display=swap");

:root {
  /* Colours */
  --color-primary: #3740ff;
  --color-base: #050709;
  --color-base-dull: #2b2b2b;
  --color-border: #e0e0e0;
  --color-bg: #f8f8f8;
  --color-bg-dull: #f0f0f0;
  --selection-bg: #cbeafb;

  /* Fonts */
  --font-sans-serif: "Montserrat", sans-serif;
  --font-serif: "Lora", serif;
  --font-serif-2: "Crimson Pro", serif;
  --font-mono: "Roboto Mono", monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --color-base: #d8d8d8;
        --color-bg: #131313;
        --color-border: #636363;
    }
} */
