/* Variables
/* ---------------------------------------------------------- */

:root {
  /* Colours */
  --color-primary: #00008b;
  --color-base: #050709;
  --color-base-dull: #2b2b2b;
  --color-border: #e0e0e0;
  --color-bg: #fefefe;
  --color-bg-dull: #f0f0f0;
  --selection-bg: #cbeafb;
  --color-dark-bg: #2a2a2a;
  --color-dark-fg: #fefefe;

  /* Fonts */
  --font-sans-serif: sans-serif;
  --font-serif: lora, serif;
  --font-serif-2: big-caslon-fb, serif;
  --font-mono: monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --color-base: #d8d8d8;
        --color-bg: #131313;
        --color-border: #636363;
    }
} */
