---
pagination:
  data: collections.posts
  size: 12
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}

{% block content %}
  <header class="page-head">
    <h1 class="page-head-title">{{ site.description }}</h1>
  </header>

  <section class="post-feed">
    {% for post in posts %}
      {{ card(post) }}
    {% endfor %}
  </section>

  {% include "partials/pagination.njk" %}
{% endblock %}

{%- block speculation -%}
  <!-- optimizations -->

  {% for post in posts %}
    <link href="{{ post.url }}" rel="prefetch" as="document"/>
    <link href="{{ post.url }}" rel="prerender"/>
    <link
      rel="preload"
      as="image"
      href="{{ post.feature_image }}"
      imagesrcset="{{ post.postcardImageSrcSet }}"
      imagesizes="{{ post.postcardImageSizes }}"/>
  {% endfor %}

  {% for fontface in collections.fontfaces %}
    <link rel="preload" href="{{ fontface.url }}" as="font"/>
  {% endfor %}

{%- endblock -%}
