---
pagination:
  data: collections.posts
  size: 7
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}

{% block content %}
  <header class="page-head">
    <h1 class="page-head-title">{{ site.description }}</h1>
  </header>
  <section class="post-feed">
    {% for post in posts %}
      {{ card(post) }}
    {% endfor %}
  </section>

  {% include "partials/pagination.njk" %}
{% endblock%}
