<div class="site-foot-nav container">
  <div class="site-foot-nav-left">
    <a aria-current="page" class="" href="/">
      {{ site.title }}
    </a> &copy; 2020 – Published with
    <a class="site-foot-nav-item" href="https://ghost.org" target="_blank" rel="noopener noreferrer">
      Ghost
    </a>
  </div>
</div>
