<div class="site-foot-nav">
  <span>{{ site.title }} &copy; 2020</span>

  {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
      Twitter
    </a>
  {% endif %}

  {% if site.github %}
    <a href="https://github.com/{{ site.github | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
      GitHub
    </a>
  {% endif %}
</div>
