{% from "partials/icon.njk" import icon %}

<div class="site-head-container">

  <div class="site-head-left"></div>

  <div class="site-head-center">
    <a class="site-head-logo" href="/">
      <img class="logo-img" src="{{ site.logo }}" alt="{{ site.title }}" width="94" height="40">
    </a>
  </div>

  <div class="site-head-right">
    <div class="social-links">
      {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
          Twitter
        </a>
      {% endif %}
      {% if site.github %}
        <a href="https://github.com/{{ site.github | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      {% endif %}
    </div>
  </div>
</div>
