{% from "partials/icon.njk" import icon %}

<div class="site-head-container">
  <div class="site-head-center">
    <a class="site-head-logo" href="/">
      <picture>
        <source srcset="{{ collections.logos.white }}" media="(prefers-color-scheme: dark)">
        <img class="logo-img" src="{{ collections.logos.black }}" alt="{{ site.title }}" width="120" height="51">
      </picture>
    </a>
  </div>
</div>
